/*CALENDARIO*/
#wpbooking-calendar {
    width: 100%;
}
#wpbooking-calendar table {
    margin: 0 0 0 !important;
}
#wpbooking-calendar .fc-h-event .fc-event-title-container {
    text-align: center;
}
.fc .fc-daygrid-day-number {
    color: black;
    font-weight: 500;
}
.fc .fc-daygrid-day-top {
    flex-direction: row;
}

/*SIDEBAR EVENTOS*/
#external-events {
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: inherit;
}
#external-events p {
    margin: 0 0 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}
#external-events .fc-event {
    margin-bottom: 10px;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: grab;
    font-size: 0.95rem;
    transition: background-color 0.2s ease;
    text-align: center;
}
#external-events label {
    font-size: 0.9rem;
    color: #555;
}

/*PAGINA EVENTO RESERVA*/
.single-wpbooking_event #content {
    flex-direction: column;
}
.single-wpbooking_event .price {
    color: #77a464;
    font-size: 1.25em;
    margin: 0;
}
.single-wpbooking_event .price .lower {
    text-transform: lowercase;
}
.single-wpbooking_event .date {
    font-size: 1.25em;
    margin: 0;
}
.single-wpbooking_event .hours {
    display: flex;
    justify-content: space-around;
    margin: 0.5em 0;
    padding: 0.5em;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;

}
.single-wpbooking_event .hour-title {
    font-weight: bold;
}
.single-wpbooking_event .wpbooking-event-tickets-title h2,
.single-wpbooking_event .wpbooking-event-services-title h2 {
    font-size: 1.25em;
    margin-top: 20px;
    font-weight: bold;
}
.single-wpbooking_event .wpbooking-ticket-row,
.single-wpbooking_event .wpbooking-service-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.single-wpbooking_event .wpbooking-ticket-row label,
.single-wpbooking_event .wpbooking-service-row label {
    width: 30%;
}
.single-wpbooking_event .wpbooking-qty-control {
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.single-wpbooking_event .wpbooking-qty-control button {
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
}
.single-wpbooking_event .wpbooking-qty-control input {
    width: 60px;
    height: 40px;
    text-align: center;
    padding: 0;
}
.single-wpbooking_event .wpbooking-personas-tickets,
.single-wpbooking_event .wpbooking-services-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}
.single-wpbooking_event .wpbooking-ticket-total {
    margin: 20px 0 20px 0;
}
.single-wpbooking_event #wpbooking-reserve-form {
    margin-bottom: 20px;
}
.single-wpbooking_event .wpbooking-reserve-button {
    background-color: #77a464;
}
.single-wpbooking_event .wpbooking-reserve-button:hover {
    background-color: #55555e;
}
/* RESONSIVE */
@media (max-width: 900px) {
    .single-wpbooking_event .wpbooking-ticket-row label,
    .single-wpbooking_event .wpbooking-service-row label{
        width: 70%;
    }
    .single-wpbooking_event .wpbooking-qty-control,
    .single-wpbooking_event .wpbooking-personas-ticket {
        width: 30%;
    }
}